#home-page {
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .nav-container {
    margin: auto;
    width: 95%;

    .navbar-brand {
      font-size: 2rem;
    }

    .brand-container {
      display: flex;
      align-items: center;

      .version {
        display: block;
        background-color: #a1a1a1;
        color: white;
        font-size: 12px;
        width: 25px;
        height: 18px;
        text-align: center;
        border-radius: 4px;
        margin-top: 5px;
        margin-left: 5px;
      }
    }
  }

  .section-1 {
    margin-top: 5rem;
    padding-bottom: 5rem;

    h1 {
      font-size: 6rem;
      text-align: center;
      font-weight: 900;

      span {
        color: #5FBE5F;
      }
    }

    h2 {
      text-align: center;
      font-size: 1.5rem;
      color: grey;
      margin-top: 1.25rem;
      margin-bottom: 40px;
    }

    .typist-container {
      display: flex;
      justify-content: center;

      .black-box {
        margin-top: 50px;
        background-color: rgb(59, 59, 59);
        width: 400px;
        height: 85px;
        display: flex;
        justify-content: center;
        border-radius: 8px;
      }

      .code {
        font-size: 50px;
        color: white;
      }
    }
  }

  .figma-img {
    width: 95%;
    display: block;
    margin: auto;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  }

  .section-2 {
    position: relative;
    text-align: center;

    .section-2-content {
      background-color: #264726;
      color: #152715;

      h2 {
        color: #fff;
        font-size: 3.75rem;
        font-weight: 900;
      }

      .intro {
        color: #bebebe;
        font-size: 22px;
      }

      .advantages {
        display: block;
        margin: auto;
        width: 95%;
        margin-top: 5rem;

        .advantages-col {
          padding: 0;
          text-align: left;
          display: flex;

          .inner-column {
            display: inline-block;

            &.left-column {
              display: flex;
              flex-direction: column;
              align-items: center;
            }

            .icon {
              width: 50px;
              height: 53px;
              text-align: center;
              background-color: #5FBE5F;
              border-radius: 8px;
              padding: 4px;
              color: white;
              font-size: 30px;
            }

            .version {
              background-color: #a1a1a1;
              color: white;
              font-size: 12px;
              width: 25px;
              text-align: center;
              border-radius: 4px;
              margin-top: 5px;
            }

            h3, p {
              margin-left: 12px;
            }

            h3 {
              color: #d8d8d8;
            }

            p {
              color: #bebebe;
              padding-bottom: 50px;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }

  .section-3 {
    background-color: #264726;
  }

  .footer {
    background-color: #152715;
    padding-top: 20px;

    .footer-content {
      width: 95%;
      border-top: 1px solid #264726;
      display: flex;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 50px;
      justify-content: space-between;
      color: #747c74;
    }
  }
}

@media (max-width: 415px) {
  #home-page {
    .nav-container {
      width: 95%;
    }

    .figma-img {
      width: 95%;
    }

    .section-1 {
      width: 95% !important;

      h1 {
        font-size: 2.25rem;
        margin-top: 1em;
      }

      h2 {
        font-size: 1.125rem;
      }

      .typist-container {
        .black-box {
          margin-top: 50px;
          background-color: rgb(59, 59, 59);
          width: 300px;
          height: 50px;
          display: flex;
          justify-content: center;
          border-radius: 8px;
        }

        .code {
          font-size: 30px;
          color: white;
        }
      }
    }

    .section-2 {
      .section-2-content {
        h2 {
          font-size: 2.25rem;
        }

        .intro {
          padding-left: 10px;
          padding-right: 10px;
        }

        .advantages {
          width: 95%;
        }
      }
    }

    .section-3 {
      .section-3-content {
        .grid {
          width: 95%;

          .newsletter-form {
            width: 95%;
            margin: auto;

            .left-input {
              width: 100%;
            }

            .right-button {
              width: 100%;
              margin-top: 1em;

              button {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .footer {
      .footer-content {
        width: 95%;
      }
    }
  }
}

@media (max-width: 769px) {
  #home-page {
    h3 {
      font-size: 1.125rem;
    }

    .section-1 {
      width: 70%;
      margin: auto;

      .form-container {
        .form {
          width: 100%;

          .left-input {
            width: 70%;
          }

          .right-button {
            width: 30%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #home-page {
    .section-3 {
      .section-3-content {
        .grid {
          .first-grid-components {
            grid-column: span 2/span 2;
            grid-template-columns: repeat(2,minmax(0,1fr));
          }
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  #home-page {
    .nav-container {
      width: 80%;
    }

    .figma-img {
      width: 80%;
    }

    .section-2 {
      .section-2-content {
        .advantages {
          width: 80%;
        }
      }
    }

    .section-3 {
      .section-3-content {
        .grid {
          width: 80%;
          grid-template-columns: repeat(3,minmax(0,1fr));
        }
      }
    }

    .footer {
      .footer-content {
        width: 80%;
      }
    }
  }
}