#home-page {
  .row {
    margin-right: 0;
    margin-left: 0;
  }

  .nav-container {
    margin: auto;
    width: 95%;
  }

  .section-1 {
    margin-top: 5rem;
    padding-bottom: 5rem;

    h1 {
      font-size: 4rem;
      text-align: center;

      span {
        color: #5FBE5F;
      }
    }

    h2 {
      text-align: center;
      font-size: 20px;
      color: grey;
      margin-top: 1.25rem;
    }

    .form-container {
      margin-top: 1.25rem;

      p {
        text-align: center;
      }

      .form {
        width: 700px;
        display: block;
        margin: auto;

        .left-input {
          width: 80%;
        }

        .right-button {
          width: 20%;
          text-align: right;

          button {
            width: 90%;
          }
        }
      }
    }
  }

  .figma-img {
    width: 95%;
    display: block;
    margin: auto;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  }

  .section-2 {
    position: relative;
    text-align: center;

    .section-2-content {
      background-color: #264726;
      color: #152715;

      h2 {
        color: #fff;
        font-size: 2rem;
      }

      .intro {
        color: #bebebe;
        font-size: 22px;
      }

      .advantages {
        display: block;
        margin: auto;
        width: 95%;
        margin-top: 5rem;

        .advantages-col {
          padding: 0;
          text-align: left;
          display: flex;

          .inner-column {
            display: inline-block;

            .icon {
              width: 50px;
              text-align: center;
              background-color: #5FBE5F;
              border-radius: 8px;
              padding: 4px;
              color: white;
              font-size: 30px;
            }

            h3, p {
              margin-left: 12px;
            }

            h3 {
              color: #d8d8d8;
            }

            p {
              color: #bebebe;
              padding-bottom: 50px;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }

  .section-3 {
    background-color: #264726;

    .section-3-content {
      background-color: #152715;

      .grid {
        display: grid;
        margin: auto;
        width: 95%;
        grid-gap: 2rem;

        .first-grid-components {
          display: grid;
        }

        .grid-item {
          display: grid;
          grid-template-columns: repeat(2,minmax(0,1fr));
        }

        h4 {
          color: #747c74;
          font-size: .875rem;
        }

        ul {
          list-style: none;
          padding-left: 0;

          li {
            color: #bebebe;
            padding-top: 15px;

            &:hover {
              color: #f3f3f3;
              cursor: not-allowed;
            }

            &.help-community {
              color: #9ea173;
            }

            a {
              color: #bebebe;
              text-decoration: none;

              &:hover {
                color: #f3f3f3;
              }
            }
          }
        }

        p {
          color: #bebebe;
        }

        .newsletter-form {
          width: 100%;
          display: block;
          margin: auto;

          .left-input {
            width: 70%;
          }

          .right-button {
            width: 30%;
            text-align: right;

            button {
              width: 90%;
            }
          }
        }
      }
    }
  }

  .footer {
    background-color: #152715;
    padding-top: 20px;

    .footer-content {
      width: 95%;
      border-top: 1px solid #264726;
      display: flex;
      margin: auto;
      padding-top: 20px;
      padding-bottom: 50px;
      justify-content: space-between;
      color: #747c74;
    }
  }
}

@media (max-width: 415px) {
  #home-page {
    .nav-container {
      width: 95%;
    }

    .figma-img {
      width: 95%;
    }

    .section-1 {
      width: 95% !important;

      h1 {
        font-size: 3rem;
        margin-top: 1em;
      }

      .form-container {
        .form {
          width: 95% !important;

          .left-input {
            width: 100% !important;
          }

          .right-button {
            width: 100% !important;

            button {
              width: 100% !important;
              margin-top: 1em;
            }
          }
        }
      }
    }

    .section-2 {
      .section-2-content {
        .advantages {
          width: 95%;
        }
      }
    }

    .section-3 {
      .section-3-content {
        .grid {
          width: 95%;

          .newsletter-form {
            width: 95%;
            margin: auto;

            .left-input {
              width: 100%;
            }

            .right-button {
              width: 100%;
              margin-top: 1em;

              button {
                width: 100%;
              }
            }
          }
        }
      }
    }

    .footer {
      .footer-content {
        width: 95%;
      }
    }
  }
}

@media (max-width: 769px) {
  #home-page {
    h3 {
      font-size: 1.125rem;
    }

    .section-1 {
      width: 70%;
      margin: auto;

      .form-container {
        .form {
          width: 100%;

          .left-input {
            width: 70%;
          }

          .right-button {
            width: 30%;
          }
        }
      }
    }
  }
}

@media (min-width: 768px) {
  #home-page {
    .section-3 {
      .section-3-content {
        .grid {
          .first-grid-components {
            grid-column: span 2/span 2;
            grid-template-columns: repeat(2,minmax(0,1fr));
          }
        }
      }
    }
  }
}

@media (min-width: 1300px) {
  #home-page {
    .nav-container {
      width: 80%;
    }

    .figma-img {
      width: 80%;
    }

    .section-2 {
      .section-2-content {
        .advantages {
          width: 80%;
        }
      }
    }

    .section-3 {
      .section-3-content {
        .grid {
          width: 80%;
          grid-template-columns: repeat(3,minmax(0,1fr));
        }
      }
    }

    .footer {
      .footer-content {
        width: 80%;
      }
    }
  }
}