#home-page {
  .section-1 {
    margin-top: 5rem;
    padding-bottom: 5rem;

    h1 {
      font-size: 4rem;
      text-align: center;

      span {
        color: #5FBE5F;
      }
    }

    h2 {
      text-align: center;
      font-size: 20px;
      color: grey;
      margin-top: 1.25rem;
    }

    .form-container {
      margin-top: 1.25rem;

      p {
        text-align: center;
      }

      .form {
        width: 700px;
        display: block;
        margin: auto;

        .left-input {
          width: 80%;
        }

        .right-button {
          width: 20%;
          text-align: right;

          button {
            width: 90%;
          }
        }
      }
    }
  }

  .figma-img {
    width: 80%;
    display: block;
    margin: auto;
    border-radius: 15px;
    box-shadow: 0 10px 15px -3px rgba(0,0,0,.1), 0 4px 6px -2px rgba(0,0,0,.05);
  }

  .section-2 {
    position: relative;
    text-align: center;

    .section-2-content {
      background-color: #264726;
      color: #152715;

      h2 {
        color: #fff;
        font-size: 2rem;
      }

      .intro {
        color: #bebebe;
        font-size: 22px;
      }

      .advantages {
        width: 80%;
        display: block;
        margin: auto;
        margin-top: 5rem;

        .advantages-col {
          padding: 0;
          text-align: left;
          display: flex;

          .inner-column {
            display: inline-block;

            .icon {
              width: 50px;
              text-align: center;
              background-color: #5FBE5F;
              border-radius: 8px;
              padding: 4px;
              color: white;
              font-size: 30px;
            }

            h3, p {
              margin-left: 12px;
            }

            h3 {
              color: #d8d8d8;
            }

            p {
              color: #bebebe;
              padding-bottom: 50px;
              padding-right: 20px;
            }
          }
        }
      }
    }
  }

  .section-3 {
    background-color: #264726;

    .section-3-content {
      background-color: #264726;
    }
  }
}